extends layout

block content
  .row.full-height
      #map
      .write-area
        form#send-message.form-inline(action='')
          .form-group.full-width
            input#message.form-control.input-lg(type='text', placeholder='write message here...', style='width: 70%')
            button.btn.btn-default.btn-lg(type='submit') Send
  
