html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

a {
  color: #00B7FF;
}

.full-width {
  width: 100%;
  margin: 0 auto;
}

.full-height {
  height: 100%;
}

.write-area {
  position: fixed;
  bottom: 5px;
  width: 100%;
  text-align: center;
  padding: 50px;
}

#message {
  width: 100%;
  max-width: 600px;
}